.flashes h4 {
  line-height: 2;
}

.center-text{
  text-align: center;
}

.padding{
  padding: 10px;
}

.left {
  padding-left: 10px;
}

.button {
  background-color: green;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px;
  margin-bottom: 10px;
}

.cancel {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px;
  margin-bottom: 10px;
}