{% extends "base.html" %}
{% block content %}

<h2>Welcome to our new Clitheroe Wolves FC coach mentor system</h2>
<p>Welcome to the Clitheroe Wolves coach mentor booking system. As one of our coaching team we are here to help with your 
    coach development. One of the things we can offer is for a coach mentor to provide support with your training session.
    Please chack availability on the booking screen and book a slot, one of our mentors will be assigned to your chosen slot 
    and will be in touch to confirm this and have a chat before the training session.
</p>

{% endblock %}