{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<h2 class="center-text padding center-align">Clitheroe Wolves FC Coach Mentor System</h2>

<!-- Paragraphs for index page-->
<div class="row center-align col s12 m4 l3">
    <p class="center-text padding">Welcome to the Clitheroe Wolves coach mentor booking system. As a member coaching
        team we are here to help with your
        coach development. One of the things we can offer is for a coach mentor to provide you with support during your
        time with us.
        Once registered you can then make a booking with the team and a member will be in touch to confirm the booking
        and prepare.
    </p>
</div>
<div class="row center-align col s12 m4 l3">
    <p class="center-text padding">We also offer advice on any issues you may be struggling with i.e.
        player issues or parental issues. Just email on of our metors from the metors page and they will be in touch to
        provide
        some advice or point you in the relevant direction.
    </p>


    {% endblock %}