{% extends "base.html" %}
{% block content %}

<h2 class="center-text padding">Clitheroe Wolves FC Coach Mentor System</h2>
<p class="center-text padding">Welcome to the Clitheroe Wolves coach mentor booking system. As one of our coaching team we are here to help with your 
    coach development. One of the things we can offer is for a coach mentor to provide support with your training session.
    Please check availability on the bookings screen and book a slot, one of our mentors will be assigned to your chosen slot 
    and will be in touch to confirm this and have a chat before the training session.
</p>
<p class="center-text padding">We also offer advice on an issues you may be struggling with i.e. 
    player issues or parental issues. Just email on of our metors from the metors page and they will be in touch to provide
    some advice or point you in the relevant direction.
</p>

{% endblock %}