{% extends "base.html" %}
{% block content %}
    <h2 class="center-text">Club Mentors</h2>
    {% for mentors in mentors %}
        <div class="row">
            <div class="col s12 m12 center-text">
              <div class="card">
                <div class="card-content">
                  <h3>{{ mentors.first_name }} {{ mentors.last_name }}</h3>
                  <p><strong>Age group they coach:</strong> {{ mentors.coaching_age_range}}</p>
                  <p><strong>Years of coaching:</strong> {{ mentors.coaching_years }}</p>
                  <p><strong>Email: </strong> {{ mentors.email }}</p>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
    {% endblock %}