{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel center-align">
            <h3 class="center-align light-blue-text text-darken-4">
                My Profile
            </h3>
            <!-- Below will show user details -->
            <p class="larger-text"><strong>Username:</strong> {{ username }}</p>
            <p class="larger-text"><strong>First Name:</strong> {{ fname }}</p>
            <p class="larger-text"><strong>Last Name:</strong> {{ lname }}</p>
            <p class="larger-text"><strong>Email Address:</strong> {{ email }}</p>
            <p class="larger-text"><strong>Contact Numbers:</strong> {{ contact }}</p>
            <p class="larger-text"><strong>Team you coach:</strong> {{ team }}</p>
        
            <!-- Edit profile button -->
            <a href="{{ url_for('edit_profile', username=username) }}" class="button white-text">Edit Profile <i
                class="fas fa-edit right"></i></a>
            <!-- Delete account button -->
            <a href="{{ url_for('delete', username=username)}}" class="cancel white-text">Delete Account <i
                class="fas fa-times-circle right"></i></a>
          
    </div>
</div>

{% endblock %}