{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix light-blue-text text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <!-- first name-->
                    <div class="input-field col s6">
                      <input placeholder="First Name" id="first_name" name="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <!-- Last name -->
                    <div class="input-field col s6">
                      <input placeholder="Last Name" id="last_name" name="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <!-- email-->
                    <div class="input-field col s12">
                      <input id="email" name="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <!-- contact number-->
                    <div class="input-field col s12">
                      <input placeholder="Contact Number" id="contact_number" name="contact_number" type="text" class="validate">
                      <label for="contact_number">Contact Number</label>
                    </div>
                  </div>
                  <div class="row">
                    <!-- team-->
                    <div class="input-field col s12">
                      <input placeholder="Team" id="team" name="team" type="text" class="validate">
                      <label for="team">Team You Coach</label>
                    </div>
                  </div>
                <!-- register button-->
                <div class="row center-align">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Link for if a user is already registered -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}